-- Hardening Supabase Functions
-- Fixes security advisories regarding mutable search paths and execution permissions.

-- 1. Fix search_path and permissions for check_mfa_satisfied
ALTER FUNCTION public.check_mfa_satisfied(user_id uuid) SET search_path = public, auth;
REVOKE EXECUTE ON FUNCTION public.check_mfa_satisfied(user_id uuid) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.check_mfa_satisfied(user_id uuid) TO authenticated;
GRANT EXECUTE ON FUNCTION public.check_mfa_satisfied(user_id uuid) TO service_role;

-- 2. Fix search_path and permissions for check_cloud_book_limit
ALTER FUNCTION public.check_cloud_book_limit() SET search_path = public;
REVOKE EXECUTE ON FUNCTION public.check_cloud_book_limit() FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.check_cloud_book_limit() TO authenticated;
GRANT EXECUTE ON FUNCTION public.check_cloud_book_limit() TO service_role;

