-- Isolation of security-sensitive functions
-- Creates a non-exposed schema to hide SECURITY DEFINER functions from the REST API.

-- 1. Create the internal schema
CREATE SCHEMA IF NOT EXISTS internal;

-- 2. Move check_mfa_satisfied to internal schema
CREATE OR REPLACE FUNCTION internal.check_mfa_satisfied(user_id uuid)
RETURNS boolean
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public, auth
AS \$\$
BEGIN
  RETURN (
    NOT EXISTS (
      SELECT 1 FROM auth.mfa_factors 
      WHERE auth.mfa_factors.user_id = \ 
      AND auth.mfa_factors.status = 'verified'
    )
    OR (auth.jwt() ->> 'aal') = 'aal2'
  );
END;
\$\$;

-- 3. Move check_cloud_book_limit to internal schema
CREATE OR REPLACE FUNCTION internal.check_cloud_book_limit()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS \$\$
DECLARE
    cloud_count integer;
BEGIN
    IF NEW.is_in_cloud = true THEN
        SELECT count(*)
        INTO cloud_count
        FROM public.books_metadata
        WHERE user_id = NEW.user_id 
          AND is_in_cloud = true
          AND id != NEW.id;

        IF cloud_count >= 3 THEN
            RAISE EXCEPTION 'Cloud limit reached: You can only store up to 3 books in the cloud on the free tier.'
                USING errcode = 'P0003';
        END IF;
    END IF;
    RETURN NEW;
END;
\$\$;

-- 4. Update RLS policies to use the internal schema
-- BOOKS_METADATA
DROP POLICY IF EXISTS \
Users
can
only
select
their
own
books\ ON public.books_metadata;
CREATE POLICY \Users
can
only
select
their
own
books\ 
ON public.books_metadata FOR SELECT TO authenticated 
USING (auth.uid() = user_id AND internal.check_mfa_satisfied(auth.uid()));

DROP POLICY IF EXISTS \Users
can
only
modify
their
own
books\ ON public.books_metadata;
CREATE POLICY \Users
can
only
modify
their
own
books\ 
ON public.books_metadata FOR ALL TO authenticated 
USING (auth.uid() = user_id AND internal.check_mfa_satisfied(auth.uid()))
WITH CHECK (auth.uid() = user_id AND internal.check_mfa_satisfied(auth.uid()));

-- STATS_LOGS
DROP POLICY IF EXISTS \Users
can
only
select
their
own
stats\ ON public.stats_logs;
CREATE POLICY \Users
can
only
select
their
own
stats\ 
ON public.stats_logs FOR SELECT TO authenticated 
USING (auth.uid() = user_id AND internal.check_mfa_satisfied(auth.uid()));

DROP POLICY IF EXISTS \Users
can
only
modify
their
own
stats\ ON public.stats_logs;
CREATE POLICY \Users
can
only
modify
their
own
stats\ 
ON public.stats_logs FOR ALL TO authenticated 
USING (auth.uid() = user_id AND internal.check_mfa_satisfied(auth.uid()))
WITH CHECK (auth.uid() = user_id AND internal.check_mfa_satisfied(auth.uid()));

-- DELETED_RECORDS
DROP POLICY IF EXISTS \Users
can
only
see
their
own
deleted
records\ ON public.deleted_records;
CREATE POLICY \Users
can
only
see
their
own
deleted
records\
ON public.deleted_records FOR SELECT TO authenticated
USING (auth.uid() = user_id AND internal.check_mfa_satisfied(auth.uid()));

DROP POLICY IF EXISTS \Users
can
only
insert
their
own
deleted
records\ ON public.deleted_records;
CREATE POLICY \Users
can
only
insert
their
own
deleted
records\
ON public.deleted_records FOR INSERT TO authenticated
WITH CHECK (auth.uid() = user_id AND internal.check_mfa_satisfied(auth.uid()));

-- STORAGE
DROP POLICY IF EXISTS \Users
can
only
access
their
own
storage
folder\ ON storage.objects;
CREATE POLICY \Users
can
only
access
their
own
storage
folder\
ON storage.objects FOR ALL TO authenticated
USING (
  bucket_id = 'books_binary' 
  AND (storage.foldername(name))[1] = auth.uid()::text
  AND internal.check_mfa_satisfied(auth.uid())
)
WITH CHECK (
  bucket_id = 'books_binary' 
  AND (storage.foldername(name))[1] = auth.uid()::text
  AND internal.check_mfa_satisfied(auth.uid())
);

-- 5. Update Trigger to use internal schema
DROP TRIGGER IF EXISTS enforce_cloud_book_limit ON public.books_metadata;
CREATE TRIGGER enforce_cloud_book_limit
BEFORE INSERT OR UPDATE ON public.books_metadata
FOR EACH ROW EXECUTE FUNCTION internal.check_cloud_book_limit();

-- 6. Cleanup old public functions
DROP FUNCTION IF EXISTS public.check_mfa_satisfied(uuid);
DROP FUNCTION IF EXISTS public.check_cloud_book_limit();

